body {
  background: black;
  color: white;
  font-family: Arial;
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.cover {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
}

.subtitle {
  opacity: 0.6;
}

.song {
  margin-top: 50px;
}

h2 {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}